dio-aws-step-functions-desafio/workflow-definition.json
{
  "Comment": "Exemplo simples de workflow no AWS Step Functions",
  "StartAt": "ValidarArquivo",
  "States": {
    "ValidarArquivo": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:332093715155:function:ValidaArquivoLambda",
      "Next": "ProcessarDados"
    },
    "ProcessarDados": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:332093715155:function:ProcessaDadosLambda",
      "Next": "SalvarNoS3"
    },
    "SalvarNoS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:putObject",
      "Parameters": {
        "Bucket": "meu-bucket-dio-desafio",
        "Key": "resultado.json",
        "Body.$": "$"
      },
      "End": true
    }
  }
}
